*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial,sans-serif;
}

body{
  display: flex;
  background:white;
}

/*sidebar*/
.sidebar{
  width:220px;
  background:hsl(216, 41%, 58%);
  color:whitesmoke;
  height:100vh;
  padding:20px;
}

.logo{
  font-size: 22px;
  margin-bottom:30px;
}

.menu li{
  list-style:none;
  margin:15px 0;
  cursor: pointer;
}

.menu li.active,
.menu li:hover {
  color:#4fc3f7;
}

/*Navbar */
.navbar button {
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom:20px;
  border: none;
  background: #333;
  color:white;
  padding:8px 12px;
  cursor: pointer;
}

.nav-actions{
  display:flex;
  align-items: center;
  gap: 15px;
}

.nav-actions button{
  padding:8px 15px;
  cursor:pointer;
  background:#4fc3a1;
  border:none;
  border-radius:5px;
  color:white;
  font-weight:bold;
}

/*Dropdown*/
.dropdown{
  position:relative;
}

.dropbtn{
  background:#333;
  color: white;
  padding:8px 12px;
  cursor:pointer;
  border-radius:5px;
  border:none;
}

.dropdown-content {
  display: none;
  position:absolute;
  right:0;
  background:white;
  min-width:150px;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.dropdown-content a{
  padding: 10px;
  display:block;
  text-decoration: none;
  color:black;
}

.dropdown:hover .dropdown-content{
  display:block;
}
/*Cards */
.cards{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap:20px;
}

.card {
  background:white;
  padding:20px;
  border-radius:10px;
  text-align: center;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.card p{
  font-size:20px;
  margin-top:5px;
}

/*Table*/
.table-section{
  margin-top: 30px;
}

.table-section input{
  padding:8px;
  width: 200px;
  margin-bottom: 10px;
}

table {
  width:100%;
  border-collapse: collapse;
  background:white;
}

table th,
 table td{
  padding:12px;
  border-bottom:1px solid #ddd;
}

/* Chart */
.chart-section{
  margin-top: 40px;
}

.modal{
  display:none;
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background:white;
  padding:25px;
  width:350px;
  border-radius:10px;
}

.modal-content input,
.modal-content select{
  width:100%;
  padding:10px;
  margin: 8px 0;
}

.delete-btn{
  background:red;
  color:white;
  padding:6px 10px;
  border-radius:5px;
  cursor:pointer
}

@media(max-width:768px) {
  .sidebar {
    position:absolute;
    left: -220px;
    transition:0.3s;
  }

  .sidebar.open{
    left:0;
  }

  .navbar button#themeToggle {
    margin-left:20px;
  }
}
